body {
    margin: 0px;
    padding: 0px;
    background-image: url(../Image_Portefølje/whitebackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.startbuttons2 {
    background-color: green;
    margin: 0px; 
    padding: 20px;
    border: 0px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 500;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.3s ease 0s;
}
.startbuttons {
    background-color: black;
    margin: 0px; 
    padding: 20px;
    border: 0px;
    color: whitesmoke;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}
.startbuttons:hover {
    background-color: rgb(29, 29, 29);
}
.button {
    background-color: green;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px 10%; 
    padding: 20px;
    border-radius: 10px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    box-shadow: 5px 0px 10px rgba(255, 255, 255, 0.603);
    border: 0px solid black;
}
.button:hover {
    background-color: darkgreen;
    color:rgb(179, 179, 179); 
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.226);
}
.title {
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.h1 {
    color: white;
    font-family: 'Share Tech Mono', monospace;
    font-size: 80px;
    font-weight: 600;
    margin: 0px;
    margin-left: auto;
    padding: 70px;
    text-align: center;
}
h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 600;
    margin-left: 50px;
    padding: 70px;
    text-align: center;
}
h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin: 50px;
}
h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 40px;
}
.boxtext {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 400;
    padding: 60px;
}
.box {
    background-color: rgb(20, 20, 20);
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}
img {
    margin: 10px;
}
.profilbilde {
    width: 165px;
    height: 200px;
    margin: 30px auto;
    border: 20px double white;
    padding: 10px;
    left: 10000px;
    border-radius: 20px;
    display: flex;
}
a {
    margin: 100px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
.a {
    margin: 0px;
}
.next, .back {
    background-color: black;    
    padding: 30px;
    border-radius: 15px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    border: 5px solid darkgray;
    font-weight: 500;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.3s ease 0s;
}
.next:hover, .back:hover {
    background-color: rgba(0, 0, 0, 0.864);
    color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.next:focus, .back:focus{
    border: 0px solid darkgray;
    background-color: red;
    color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.next {
    margin: 100px 100px 100px 0px;
}
.back {
    margin: 100px 0px 100px 100px;
}
.nextdiv {
    width: 100%;
}
.nextdiv .next{
    float: right;   
}

@media screen and (max-width: 800px) {
    /* For mobile phones: */
    .startbuttons {
      width: 100%;
    }
    .startbuttons2 {
        width: 100%;
      }
}